
projProjetos/.vs/projProjetos/v15/.suo
projProjetos/.vs/projProjetos/v15/.suo
projProjetos/.vs/projProjetos/v15/Server/sqlite3/storage.ide
projProjetos/.vs/projProjetos/v15/.suo
projProjetos/RegraNegocio/obj/Debug/RegraNegocio.csproj.CoreCompileInputs.cache
projProjetos/RegraNegocio/obj/Debug/RegraNegocio.csproj.CoreCompileInputs.cache
